/* Styling for the Places section*/
.places {
    margin: 0;
    max-width: 100px;
    padding: 20px;
}

/* Styling for title*/
h1 {
    font-size: 30px;
}

/* Styling for each place listing*/
article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

/*Styling for the place name*/
h2 {
    font-size: 30px;
    text-align: center;
}